/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

.side-page {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FF9D0A; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 120px;
}

.side-page h2 {
    padding: 6px 8px 6px 16px;
    color:#7E4D03;
    display: block;
}

.side-page a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

.side-page a:hover {
    color: #7E4D03;
}

.main-page {
    margin-left: 160px;
    padding: 100px 10px;
}

/* body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
} */

.header-etalase {
    width: 100%;
    background-color: #FF9D0A;
    border-radius: 15px;
    margin: 20px 10px 0px 30px;
    padding: 10px;
}

.header-etalase h2 {
    margin-left: 5px;
    color: #7E4D03;
}


.etalase {
    width: 100%;
    height: 90%; 
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.etalase .card {
    width: 200px;
    overflow: hidden;
    margin: 25px;
    border: 2px;
    border-radius: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.8);
    background-color: white;
}

.etalase .card .image-box {
    width: 150px;
    margin: 20px auto;
}

.etalase .card .image-box img {
    width: 100%;
}

.etalase .card .description {
    width: 150px;
    margin: 20px auto;
}

