/* * {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS';
  } */
  a {
    text-decoration: none;
    color: #7e4d03;
  }
  /* .header {
    height: 60px;
    box-sizing: border-box;
    padding: 1% 8%;
  }
  .header-logo {
    float: left;
    font-size: 25px;
    color:#7e4d03;
    padding: 15px;
  }
  .header-logo img {
    width: 40px;
    float: left;
    margin-right: 10px;
  }
  nav {
    flex: 1;
    text-align: right;
    padding: 20px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  nav ul li:hover{
    background: #ff9d0a;
    border-radius: 50px;
  } */
  .display{
    width: 1180px;
    border-radius: 20px;
    margin: 0px auto;
    background-image: url('../pencil.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 10px;
  }
  .text {
    color: beige;
    display: inline-block;
    margin: 8%;
    align-items: center;
  }
  h2 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }

  button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin-left: 8%;
    border-radius: 25px;
    font-weight: bold;
    border: 2px;
    color:black;
    background: beige transparent;
    cursor: pointer;
    transition: 0.2s;
  }
  button:hover{
    background: #f3c682;
  }
  
